/* Error: Undefined mixin.
 *    ,
 * 9  | /     @include breakpoint-down (small)
 * 10 | |       background-image: url("../../assets/images/icon-hamburger.svg")
 * 11 | |       width: $menu_btn_size + 2
 * 12 | \       height: $menu_btn_size
 *    '
 *   sass/partials/button.sass 9:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c      @include breakpoint-down (small)\a 10 \2502  \2502        background-image: url("../../assets/images/icon-hamburger.svg")\a 11 \2502  \2502        width: $menu_btn_size + 2\a 12 \2502  \2514        height: $menu_btn_size\a    \2575 \a   sass/partials/button.sass 9:5  root stylesheet';
}
