@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap')

body, html, #root
  padding: 0
  margin: 0
  font-size: $font-size-m
  color: $white
  font-family: 'Josefin Sans', 'Alata', sans-serif
  @include scroll_bar-y (0.9vw, $darkGray)
  @include breakpoint-up (medium)
    @include scroll_bar-y (0.4vw, $darkGray)

*, *::before, *::after
  box-sizing: border-box


.container
  padding: 11vw 6vw
  @include breakpoint-up (medium)
    padding: 4.5vw 11.5vw


.hide-desktop
  @include breakpoint-up (medium)
    display: none
.hide-mobile
  @include breakpoint-down (small)
    display: none