.header
  &__hero_bg-img
    position: relative
    width: 100%
    height: 173vw
    background-repeat: no-repeat
    background-size: cover
    @include breakpoint-down (small)
      background-image: url("../../assets/images/mobile/image-hero.jpg")
      background-position: 0% 0%

    @include breakpoint-up (medium)
      background-image: url("../../assets/images/desktop/image-hero.jpg")
      filter: brightness(.9)
      background-position: bottom
      height: 80vh