@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* breakpoints */
/* flex box rules */
body, html, #root {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
  font-family: "Josefin Sans", "Alata", sans-serif;
  scrollbar-color: #8c8c8c;
  scrollbar-width: 0.9vw;
}
body::-webkit-scrollbar, html::-webkit-scrollbar, #root::-webkit-scrollbar {
  width: 0.9vw;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 2px;
}
@media (min-width: 640px) {
  body, html, #root {
    scrollbar-color: #8c8c8c;
    scrollbar-width: 0.4vw;
  }
  body::-webkit-scrollbar, html::-webkit-scrollbar, #root::-webkit-scrollbar {
    width: 0.4vw;
    background-color: transparent;
  }
  body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 2px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  padding: 11vw 6vw;
}
@media (min-width: 640px) {
  .container {
    padding: 4.5vw 11.5vw;
  }
}

@media (min-width: 640px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 639px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 639px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 640px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 640px) {
  .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3vw;
  }
  .menu__link:hover .menu__link__active {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
.menu__link > a {
  text-decoration: none;
}
@media (min-width: 640px) {
  .menu__link > a {
    font-family: "Alata", sans-serif;
    letter-spacing: 0.014em;
  }
}
.menu__link__active {
  width: 50%;
  height: 0%;
  margin-top: 0.5vw;
  border: solid 1px white;
  opacity: 0;
}
@media (max-width: 639px) {
  .menu__link__active {
    display: none;
  }
}

.header__hero_bg-img {
  position: relative;
  width: 100%;
  height: 173vw;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 639px) {
  .header__hero_bg-img {
    background-image: url("../../assets/images/mobile/image-hero.jpg");
    background-position: 0% 0%;
  }
}
@media (min-width: 640px) {
  .header__hero_bg-img {
    background-image: url("../../assets/images/desktop/image-hero.jpg");
    filter: brightness(0.9);
    background-position: bottom;
    height: 80vh;
  }
}

.nav {
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .nav {
    filter: brightness(1);
  }
}
.nav_inactive {
  height: max-content;
  background-color: transparent;
}
.nav_active {
  background-color: black;
  height: 100vh;
}
.nav__logo {
  align-self: flex-start;
}
.nav__logo-img {
  width: 37vw;
  height: 100%;
}
@media (min-width: 640px) {
  .nav__logo-img {
    width: 13vw;
  }
}
.nav__button {
  align-self: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
@media (max-width: 639px) {
  .nav_active > .nav__button {
    width: 5vw;
    height: 5vw;
    background-image: url("../../assets/images/icon-close.svg");
  }
}
@media (max-width: 639px) {
  .nav_inactive > .nav__button {
    width: 6vw;
    height: 4vw;
    background-image: url("../../assets/images/icon-hamburger.svg");
  }
}
@media (max-width: 639px) {
  .nav__links {
    position: absolute;
    top: 32vh;
    transform: translateY(0vh);
  }
}
@media (max-width: 639px) {
  .nav_inactive > .nav__links {
    display: none;
  }
}
@media (max-width: 639px) {
  .nav__link {
    margin: 4.1vw 0vw;
  }
}
@media (min-width: 640px) {
  .nav__link:not(:last-child) {
    padding-right: 2.3vw;
  }
}
.nav__link > a {
  color: white;
  font-weight: 300;
  font-size: 6.5vw;
}
@media (max-width: 639px) {
  .nav__link > a {
    text-transform: uppercase;
  }
}
@media (min-width: 640px) {
  .nav__link > a {
    font-size: 1vw;
    font-weight: 600;
  }
}

.hero__content {
  position: relative;
  top: 51%;
  transform: translateY(-90%);
}
@media (min-width: 640px) {
  .hero__content {
    transform: translateY(-83%);
  }
}
.hero__content-text {
  border: solid 3px white;
  font-size: 10.6vw;
  padding: 6vw 6vw 3vw 6vw;
  text-transform: uppercase;
  width: 100%;
  font-weight: 300;
}
@media (min-width: 640px) {
  .hero__content-text {
    font-size: 5vw;
    padding: 2.9vw 2.8vw;
    padding-bottom: 1.5vw;
    width: 45vw;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 640px) {
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.about__img-wrapper {
  margin: 16vw 0vw 4vw 0vw;
}
@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 6vw 0vw 0vw 0vw;
    width: 51vw;
  }
}
.about__img {
  width: 100%;
}
.about__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0vw 6vw;
}
@media (min-width: 640px) {
  .about__description {
    position: absolute;
    background-color: white;
    padding: 4.5vw 0vw 4vw 6.6vw;
    width: 40vw;
    right: 7vw;
    bottom: 1.3vw;
  }
}
.about__description-header {
  color: black;
  font-size: 8.5vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .about__description-header {
    font-size: 3.2vw;
    text-align: left;
    align-self: flex-start;
  }
}
.about__description-text {
  font-size: 4vw;
  text-align: center;
  color: #8c8c8c;
  text-align: center;
  line-height: 1.5em;
}
@media (min-width: 640px) {
  .about__description-text {
    font-size: 1.09vw;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
    word-spacing: 0.08em;
  }
}

.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 640px) {
  .products-section {
    margin: 1vw 0vw;
    margin-bottom: 6vw;
  }
}
@media (min-width: 640px) {
  .products-section__header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.products-section__header {
  color: black;
  font-size: 8.5vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .products-section__header {
    font-size: 3.2vw;
    text-align: left;
    align-self: flex-start;
  }
}
.products-section__items-wrapper {
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(8, auto);
  width: 100%;
  margin: 9vw 0vw;
}
@media (min-width: 640px) {
  .products-section__items-wrapper {
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(2, auto);
    grid-gap: 2vw;
    margin: 3vw 0vw;
  }
}
.products-section__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 32vw;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (min-width: 640px) {
  .products-section__item {
    width: 100%;
    height: 31vw;
  }
  .products-section__item:hover .products-section__item-bg {
    opacity: 0.35;
  }
  .products-section__item:hover .products-section__item-text {
    color: black;
    opacity: 1;
  }
}
.products-section__item-bg {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  width: 100%;
  height: 100%;
}
.products-section__item-text {
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 6vw;
  width: 41vw;
  padding: 5vw;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .products-section__item-text {
    font-size: 2.1vw;
    width: 17vw;
    padding: 2vw 3vw;
    margin: 0vw;
  }
}
.products-section__button {
  background-color: transparent;
  outline: none;
  border-radius: 0;
  height: 11vw;
  width: 44vw;
  border: solid black 0.3vw;
  font-size: 4vw;
  color: black;
  font-weight: 500;
  font-family: "Alata";
  letter-spacing: 0.3em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.products-section__button:hover {
  color: white;
  background-color: black;
}
@media (min-width: 640px) {
  .products-section__button {
    font-size: 1vw;
    width: 11vw;
    height: 2.6vw;
    border-width: 0.1vw;
    border-radius: 0.1vw;
  }
}
.products-section .item-bg-1 {
  background-image: url("../../assets/images/mobile/image-deep-earth.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-1 {
    grid-area: 1/1;
    background-image: url("../../assets/images/desktop/image-deep-earth.jpg");
  }
}
.products-section .item-bg-2 {
  background-image: url("../../assets/images/mobile/image-night-arcade.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-2 {
    grid-area: 1/2;
    background-image: url("../../assets/images/desktop/image-night-arcade.jpg");
  }
}
.products-section .item-bg-3 {
  background-image: url("../../assets/images/mobile/image-soccer-team.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-3 {
    background-image: url("../../assets/images/desktop/image-soccer-team.jpg");
  }
}
.products-section .item-bg-4 {
  background-image: url("../../assets/images/mobile/image-grid.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-4 {
    background-image: url("../../assets/images/desktop/image-grid.jpg");
  }
}
.products-section .item-bg-5 {
  background-image: url("../../assets/images/mobile/image-from-above.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-5 {
    background-image: url("../../assets/images/desktop/image-from-above.jpg");
  }
}
.products-section .item-bg-6 {
  background-image: url("../../assets/images/mobile/image-pocket-borealis.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-6 {
    background-image: url("../../assets/images/desktop/image-pocket-borealis.jpg");
  }
}
.products-section .item-bg-7 {
  background-image: url("../../assets/images/mobile/image-curiosity.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-7 {
    background-image: url("../../assets/images/desktop/image-curiosity.jpg");
  }
}
.products-section .item-bg-8 {
  background-image: url("../../assets/images/mobile/image-fisheye.jpg");
}
@media (min-width: 640px) {
  .products-section .item-bg-8 {
    background-image: url("../../assets/images/desktop/image-fisheye.jpg");
  }
}

.footer {
  display: grid;
  grid-gap: 5vw;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(1, auto);
  background-color: black;
  text-align: center;
  padding-top: 15vw;
  padding-bottom: 15vw;
}
@media (min-width: 640px) {
  .footer {
    grid-gap: 1vw;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    text-align: left;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}
.footer__logo {
  grid-area: 1/1;
  width: 40vw;
  justify-self: center;
}
@media (min-width: 640px) {
  .footer__logo {
    grid-area: 1/1;
    width: 10vw;
    justify-self: left;
  }
}
.footer__logo-img {
  width: 100%;
}
.footer__links {
  grid-area: 2/1;
}
@media (min-width: 640px) {
  .footer__links {
    grid-area: 2/1;
    width: max-content;
  }
}
.footer__link {
  margin: 3vw 0vw;
  align-self: center;
}
@media (min-width: 640px) {
  .footer__link {
    margin: 0vw 2.5vw 0vw 0vw;
  }
}
.footer__link > a {
  font-family: "Alata";
  text-decoration: none;
  color: white;
  font-size: 4vw;
}
@media (min-width: 640px) {
  .footer__link > a {
    font-size: 1vw;
  }
}
.footer__socials {
  grid-area: 3/1;
}
@media (min-width: 640px) {
  .footer__socials {
    grid-area: 1/2;
    justify-self: end;
  }
}
.footer__copy-right {
  font-family: "Alata";
  grid-area: 4/1;
  color: #8c8c8c;
  font-size: 4vw;
}
@media (min-width: 640px) {
  .footer__copy-right {
    grid-area: 2/2;
    justify-self: end;
    font-size: 1.1vw;
  }
}

.attribution {
  width: max-content;
  font-size: 2vw;
  margin: 1vw 0vw;
}
@media (min-width: 640px) {
  .attribution {
    font-size: 0.6vw;
    margin: 0.3vw 0vw;
  }
}
.attribution > a {
  text-decoration: none;
  color: inherit;
  padding: 0vw;
  margin: 0vw;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4vw 0vw 1vw 0vw;
}
@media (min-width: 640px) {
  .socials {
    padding: 0vw;
  }
}
.socials__icon {
  text-decoration: none;
  margin: 0vw 2vw;
}
@media (min-width: 640px) {
  .socials__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0vw 0.6vw;
    height: 3vw;
  }
}
.socials__icon:hover .socials__icon__active {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.socials__icon__active {
  width: 50%;
  height: 0%;
  margin-top: 0.5vw;
  border: solid 1px white;
  opacity: 0;
}
@media (max-width: 639px) {
  .socials__icon__active {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
