@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* breakpoints */
/* flex box rules */
body, html, #root {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
  font-family: "Josefin Sans", "Alata", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  /* defualt app transition */
}

.container {
  padding: 11vw 6vw;
}
@media (min-width: 640px) {
  .container {
    padding: 4.5vw 11.5vw;
  }
}

@media (min-width: 640px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 639px) {
  .hide-mobile {
    display: none;
  }
}

.header {
  color: white;
}
.header__menu-mobile div a, .header__menu-desktop div a {
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__hero_bg-img {
  position: relative;
  width: 100%;
  height: 173vw;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 639px) {
  .header__hero_bg-img {
    background-image: url("../../assets/images/mobile/image-hero.jpg");
    background-position: 0% 0%;
  }
}
@media (min-width: 640px) {
  .header__hero_bg-img {
    background-image: url("../../assets/images/desktop/image-hero.jpg");
    filter: brightness(0.9);
    background-position: bottom;
    height: 80vh;
  }
}

.nav {
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .nav {
    filter: brightness(1);
  }
}
.nav_inactive {
  height: max-content;
  background-color: transparent;
}
.nav_active {
  background-color: black;
  height: 100vh;
}
.nav__logo {
  align-self: flex-start;
}
.nav__logo-img {
  width: 37vw;
  height: 100%;
}
@media (min-width: 640px) {
  .nav__logo-img {
    width: 13vw;
  }
}
.nav__button {
  align-self: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
@media (max-width: 639px) {
  .nav_active > .nav__button {
    width: 5vw;
    height: 5vw;
    background-image: url("../../assets/images/icon-close.svg");
  }
}
@media (max-width: 639px) {
  .nav_inactive > .nav__button {
    width: 6vw;
    height: 4vw;
    background-image: url("../../assets/images/icon-hamburger.svg");
  }
}
@media (max-width: 639px) {
  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
  }
}
@media (min-width: 640px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 639px) {
  .nav_inactive > .nav__links {
    display: none;
  }
}
@media (max-width: 639px) {
  .nav__link-wrapper {
    margin: 4.1vw 0vw;
  }
}
@media (min-width: 640px) {
  .nav__link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3vw;
  }
  .nav__link-wrapper:not(:last-child) {
    padding-right: 2.3vw;
  }
  .nav__link-wrapper:hover .nav__link-state {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
.nav__link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 6.5vw;
}
@media (max-width: 639px) {
  .nav__link {
    text-transform: uppercase;
  }
}
@media (min-width: 640px) {
  .nav__link {
    font-size: 1vw;
    font-weight: 600;
    font-family: "Alata", sans-serif;
    letter-spacing: 0.014em;
  }
}
.nav__link-state {
  width: 50%;
  height: 0%;
  margin-top: 0.5vw;
  border: solid 1px white;
  opacity: 0;
}
@media (max-width: 639px) {
  .nav__link-state {
    display: none;
  }
}

.hero__content {
  position: relative;
  top: 51%;
  transform: translateY(-90%);
}
@media (min-width: 640px) {
  .hero__content {
    transform: translateY(-83%);
  }
}
.hero__content-text {
  border: solid 3px white;
  font-size: 10.6vw;
  padding: 6vw 6vw 3vw 6vw;
  text-transform: uppercase;
  width: 100%;
  font-weight: 300;
}
@media (min-width: 640px) {
  .hero__content-text {
    font-size: 5vw;
    padding: 2.9vw 2.8vw;
    padding-bottom: 1.5vw;
    width: 45vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about__img-wrapper {
  margin: 16vw 0vw 4vw 0vw;
}
.about__img {
  width: 100%;
}
.about__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0vw 6vw;
}
.about__description-header {
  color: black;
  font-size: 8vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.about__description-text {
  font-size: 4vw;
  text-align: center;
  color: #8c8c8c;
  text-align: center;
  line-height: 1.5em;
}

/*# sourceMappingURL=styles.css.map */
